* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', Arial, Helvetica;
    font-size: 13px;
    overflow-x: hidden;
}

header {
    height: 100px;
    background-color: #000;
    color: #FFF;
}

.header {
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
}

.logoimg {
    width: 80px;
    height: 80px;
    background-color: #b28756;
    border-radius: 40px;
}

.menu-opener {
    display: none;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu ul,
.menu li {
    list-style: none;
}

.menu ul {
    display: flex;
}

.menu li a {
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #000;
}

.menu li a:hover,
.menu .active a {
    border-bottom: 5px solid #b28756;
    color: #CCC;
}

.button {
    display: inline-block;
    background-color: #b28756;
    color: #FFF;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px;
}

.banner {
    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url('../imagens/icones/bg.jpg');
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}

.banner .sliders {
    width: 1000vw;
    height: 100%;
}

.banner .slide {
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.banner .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #FFF;
}

.banner h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
}

.banner h1 {
    text-transform: uppercase;
    margin-top: 20px;
}

.banner h1 span {
    color: #b28756
}

.banner .sliders-pointers {
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.banner .pointer.active {
    background-color: #b28756;
}

.default {
    padding-top: 50px;
    padding-bottom: 50px;
}

.default .section-title,
.default .section-desc {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;

}

.default .section-desc {
    font-size: 12px;
    color: #CCC;
    margin-top: 10px;
    margin-bottom: 40px;
}

.default .section-title {
    font-size: 20px;
}

.default .section-body {
    max-width: 1140px;
    margin: auto;
}

.default.light {
    background-color: #F7F7F7F7;
}

.default.light .section-title,
.default.light .section-body {
    color: #000;
}

.default.dark {
    background-color: #000;
}

.default.dark .section-title,
.default.dark .section-body {
    color: #FFF;
}

.default.dark.footer {
    padding-top: 50px;
    padding-bottom: 15px;
}

.section-footer {
    display: flex;
    flex: 1;
    width: 100vw;
    height: 220px;
    margin: auto;
    max-width: 1140px;
    
}


.section-footer--social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #333;
    border-radius: 13px;
    margin-right: 10px;
}

.section-footer--social a:hover,
.section-footer--social .active {
    background-color: #b28756;
}

.section-footer--awax {
    color: #FFF;
    margin-top: 150px;
    font-weight: 500;
    font-size: 10px;
    text-transform: uppercase;
}

.section-footer--descricao {
    width: 360px;
    height: 150px;
    color: #999;
    margin-left: 150px;
    line-height: 21px;
}

.section-footer--form {
    width: 300px;
    height: 200px;
    background-color: #333;
    margin-left: 50px;
    border-radius: 5px;
    padding: 20px;
    text-align: center; 
}

.section-footer--form input {
    margin-top: 20px;
    width:100%;
    height:40px;
    border:0;
    background:transparent;
    border-bottom:1px solid #CCC;
    outline:0;
    color:#FFF;
    font-size:14px;
    text-align:center;
    
}



